name: Build Electron App

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install Dependencies
      run: npm install

    - name: Build Windows App
      run: npm run build:win
      
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Windows-App-Build
        path: |
          release/*.exe
          release/*.zip
